<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  <title>Website Components</title>
  <style>
    :root {
      --mdi-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      --mdi-icon-color: #453C4F;
      --mdi-header-color: #453C4F;
      --mdi-header-background: #fff;
      --mdi-search-border-color: #453C4F;
      --mdi-dropdown-border-color: #453C4F;
    }
    body {
      display: grid;
      grid-template-columns: 12rem calc(100% - 12rem);
      grid-template-rows: 3rem auto;
      height: 100%;
      margin: 0;
      font-family: var(--mdi-font-family);
    }
    code {
      font-family: 'Consolas', 'Courier New', Courier, monospace;
    }
    header {
      display: flex;
      grid-row: 1;
      grid-column: 1 / span 2;
      background: #414F56;
      color: #FFF;
      align-items: center;
    }
    header > svg {
      display: inline-flex;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 0.75rem 0 1rem;
    }
    header > h1 {
      display: inline-flex;
      color: #FFF;
      font-size: 1.5rem;
      margin: 0;
      font-weight: normal;
    }
    aside {
      grid-row: 2;
      grid-column: 1;
      padding: 1rem;
    }
    aside > div {
      font-weight: bold;;
    }
    aside > ul {
      list-style: none;
      padding: 0 0 0 0.5rem;
      line-height: 1.5rem;
    }
    main {
      grid-row: 2;
      grid-column: 2;
      padding: 0 1rem 1rem 1rem;
    }
    main > section {
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      margin-top: 1.5rem;
    }
    main > section > h2 {
      margin: 0;
      border-bottom: 1px solid #ddd;
      padding-bottom: 0.5rem;
    }
    h1 small,
    h2 small,
    h3 small {
      color: #999;
      font-weight: normal;
      font-size: 0.875rem;
    }
    .example {
      vertical-align: top;
      background: #F1F1F1;
      border-radius: 0.25rem;
      border: 1px dashed #222;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      margin-right: 1rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1) inset;
    }
    .example-flex {
      display: flex;
    }
    body > button {
      border: 1px solid #DDD;
      background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
      color: #24292e;
      border: 1px solid rgba(27,31,35,.2);
      border-radius: .25em;
      padding: 0.25rem 0.4rem 0.2rem 0.4rem;
    }
    body > button:hover {
      background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
      background-position: -.5em;
      border-color: rgba(27,31,35,.35);
    }
    #mdiScrollList button {
      background: transparent;
      border: 1px dashed #DDD;
    }
    #mdiScrollList button:hover {
      background: #CCC;
    }
  </style>
</head>

<body>
  <header>
    <svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M2,2H8V4H16V2H22V8H20V16H22V22H16V20H8V22H2V16H4V8H2V2M16,8V6H8V8H6V16H8V18H16V16H18V8H16M4,4V6H6V4H4M18,4V6H20V4H18M4,18V20H6V18H4M18,18V20H20V18H18Z" />
    </svg>
    <h1>MDI Website Components</h1>
  </header>
  <aside>
    <div>Components</div>
    <ul>
      <li>mdi-body</li>
      <li>mdi-color</li>
      <li>mdi-grid</li>
      <li>mdi-header</li>
      <li>mdi-icon</li>
      <li>mdi-input-range</li>
      <li>mdi-markdown</li>
      <li>mdi-nav</li>
      <li>mdi-search</li>
    </ul>
  </aside>
  <main>
    <p>Use this application <code>index.html</code> to debug components. Along with the examples here components have a seperate documentation readme file in their folder.</p>

    <section>
      <h2>mdi-annoy</h2>
      <h3>Basic <small>Annoyance</small></h3>
      <div class="example">
        <mdi-annoy></mdi-annoy>
      </div>
      <pre style="color:#FFF;background:#222;padding:0.5rem;border-radius:0.25rem">mdi-annoy {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
}</pre>
    </section>
    <script src="mdiAnnoy.js"></script>

    <section>
      <h2>mdi-body</h2>
      <h3>Basic <small>Body</small></h3>
      <div class="example">
        <mdi-body>
          Wraps entire page.
        </mdi-body>
      </div>
    </section>
    <script src="mdiBody.js"></script>

    <section>
      <h2>mdi-button</h2>
      <h3>Basic <small>Default</small></h3>
      <div class="example example-flex">
        <mdi-button>Example Button</mdi-button>
        <mdi-button><mdi-icon path="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z"></mdi-icon></mdi-button>
        <mdi-button>
          <mdi-icon path="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z"></mdi-icon>
          With Icon
        </mdi-button>
      </div>
      <button onclick="mdiButton.setVariant('base')">base</button>
      <button onclick="mdiButton.setVariant('base-inverse')">base-inverse</button>
    </section>
    <script src="mdiButton.js"></script>
    <script>
      window.mdiButton = {
        setVariant: function(variant) {
          document.querySelectorAll('mdi-button').forEach((ele) => {
            ele.variant = variant;
          });
        }
      };
    </script>

    <section>
      <h2>mdi-color</h2>
      <h3>Basic <small>Color</small></h3>
      <div class="example">
        <mdi-color id="color1" value="#000"></mdi-color>
        <code>Selected: <span id="colorSelected"></span></code>
      </div>
    </section>
    <script src="mdiColor.js"></script>
    <script>
      document.getElementById('color1').addEventListener('select', (e) => {
        const { rgb, hex } = e.detail;
        document.getElementById('colorSelected').innerText =
          `${hex} or rgba(${rgb.r}, ${rgb.g}, ${rgb.b})`;
      });
    </script>

    <section>
      <h2>mdi-dropdown</h2>
      <h3>Basic <small>Dropdown</small></h3>
      <div class="example">
        <mdi-dropdown>
          <button>Click Me</button>
          <div slot="popover">
            Render anything inside...
          </div>
        </mdi-dropdown>
        <mdi-dropdown>
          <a href="/">Click Me</a>
          <div slot="popover">
            Render anything inside...
          </div>
        </mdi-dropdown>
      </div>
    </section>
    <script src="mdiDropdown.js"></script>

    <section>
      <h2>mdi-grid</h2>
      <h3>Basic <small>Icon Grid</small></h3>
      <p>
        <button onclick="iconGrid.basic(1)">Render 1</button>
        <button onclick="iconGrid.basic(10)">Render 10</button>
        <button onclick="iconGrid.basic(50)">Render 50</button>
        <button onclick="iconGrid.basic(250)">Render 250</button>
        <button onclick="iconGrid.basic(-1)">Render 5000+</button>
      </p>
      <p>
        <label>Size (<span id="mdiScrollSizeText">24</span>): <input id="mdiScrollSize" type="range" min="24" max="96" step="4" value="24" /></label>
        <label>Padding (<span id="mdiScrollPaddingText">8</span>): <input id="mdiScrollPadding" type="range" min="0" max="24" step="2" value="8" /></label>
        <label>Gap (<span id="mdiScrollGapText">4</span>): <input id="mdiScrollGap" type="range" min="0" max="16" step="2" value="4" /></label>
      </p>
      <div class="example">
        <mdi-grid id="iconGrid1"></mdi-grid>
        <mdi-tooltip id="iconGrid1Tooltip"></mdi-tooltip>
      </div>
    </section>
    <script src="mdiScroll.js"></script>
    <script src="mdiGrid.js"></script>
    <script src="mdiTooltip.js"></script>
    <script>
      var ele = document.getElementsByTagName('mdi-grid')[0];
      var tooltip = document.getElementById('iconGrid1Tooltip');
      tooltip.style.display = 'none';
      ele.addEventListener('select', (e) => {
        var icon = e.detail;
        alert(icon.name);
      });
      ele.addEventListener('entericon', (e) => {
        var icon = e.detail.icon;
        console.log('enter', e.detail);
        var rect = ele.getBoundingClientRect();
        tooltip.style.position = 'fixed';
        tooltip.style.left = `${e.detail.x}px`;
        tooltip.style.top = `${e.detail.y}px`;
        tooltip.width = e.detail.width;
        tooltip.height = e.detail.height;
        tooltip.text = icon.name;
        tooltip.style.display = 'block';
      });
      ele.addEventListener('leaveicon', (e) => {
        var icon = e.detail;
        tooltip.style.display = 'none';
        console.log('leave', e.detail);
      });
      ele.addEventListener('openmenu', (e) => {
        var icon = e.detail;
        console.log(e.detail);
      });
      ele.addEventListener('closemenu', (e) => {
        var icon = e.detail;
        console.log(e.detail);
      });
      var mdiScrollSizeText = document.getElementById('mdiScrollSizeText');
      document.getElementById('mdiScrollSize').addEventListener('change', (e) => {
        ele.size = e.target.value;
        mdiScrollSizeText.innerText = e.target.value;
      });
      var mdiScrollPaddingText = document.getElementById('mdiScrollPaddingText');
      document.getElementById('mdiScrollPadding').addEventListener('change', (e) => {
        ele.padding = e.target.value;
        mdiScrollPaddingText.innerText = e.target.value;
      });
      var mdiScrollGapText = document.getElementById('mdiScrollGapText');
      document.getElementById('mdiScrollGap').addEventListener('change', (e) => {
        ele.gap = e.target.value;
        mdiScrollGapText.innerText = e.target.value;
      });
      window.iconGrid = {
        basic: (count) => {
          const element = document.getElementById('iconGrid1');
          element.icons = getIcons(count);
        }
      };
    </script>

    <section>
      <h2>mdi-icon</h2>
      <h3>Basic <small>Set path Attribute</small></h3>

      <div class="example">
        <mdi-icon id="i1"></mdi-icon>
      </div>
      <button onclick="mdiIcon.setIcon('i1', '')">
        Clear Icon
      </button>
      <button onclick="mdiIcon.setIcon('i1', 'M12,4C14.21,4 16,5.79 16,8C16,10.21 14.21,12 12,12C9.79,12 8,10.21 8,8C8,5.79 9.79,4 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z')">
        Set icon to Account
      </button>
      <button onclick="mdiIcon.setIcon('i1', 'M2,2H8V4H16V2H22V8H20V16H22V22H16V20H8V22H2V16H4V8H2V2M16,8V6H8V8H6V16H8V18H16V16H18V8H16M4,4V6H6V4H4M18,4V6H20V4H18M4,18V20H6V18H4M18,18V20H20V18H18Z')">
        Set icon to Square
      </button>

      <h3>Inline <small>Path Attribute</small></h3>
      <div class="example">
        <mdi-icon id="i2" path="M12,4C14.21,4 16,5.79 16,8C16,10.21 14.21,12 12,12C9.79,12 8,10.21 8,8C8,5.79 9.79,4 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></mdi-icon>
      </div>
    </section>
    <script src="mdiIcon.js"></script>
    <script>
      window.mdiIcon = {
        setIcon: (id, val) => {
          const element = document.getElementById(id);
          element.path = val;
        }
      };
    </script>

    <section>
      <h2>mdi-input-hex-rgb</h2>
      <h3>Basic <small>Value</small></h3>
      <div class="example">
        <mdi-input-hex-rgb id="inputHexRgb1" value="#000000"></mdi-input-hex-rgb>
        <code>Selected: <span id="inputHexRgbValue1"></span></code>
      </div>
    </section>
    <script src="mdiInputHexRgb.js"></script>
    <script>
      document.getElementById('inputHexRgb1').addEventListener('change', (e) => {
        const hex = e.target.value;
        document.getElementById('inputHexRgbValue1').innerText =
          `${hex}`;
      });
    </script>

    <section>
      <h2>mdi-input-range</h2>
      <h3>Basic <small>Value</small></h3>
      <div class="example">
        <mdi-input-range id="inputRange1" value="50"></mdi-input-range>
        <code>Selected: <span id="inputRangeValue1"></span></code>
      </div>
    </section>
    <script src="mdiColor.js"></script>
    <script>
      document.getElementById('inputRange1').addEventListener('change', (e) => {
        const value = e.target.value;
      });
    </script>

    <section>
      <h2>mdi-header</h2>
      <h3>Basic <small>Main Header</small></h3>
      <div class="example">
        <mdi-header
          logo="M2,2H8V4H16V2H22V8H20V16H22V22H16V20H8V22H2V16H4V8H2V2M16,8V6H8V8H6V16H8V18H16V16H18V8H16M4,4V6H6V4H4M18,4V6H20V4H18M4,18V20H6V18H4M18,18V20H20V18H18Z"
          name="Material Design Icons">
          <mdi-search slot="search"></mdi-search>
          <mdi-nav slot="nav"></mdi-nav>
        </mdi-nav>
      </div>
    </section>
    <script src="mdiHeader.js"></script>

    <section>
      <h2>mdi-markdown</h2>
      <h3>Basic <small>Markdown</small></h3>
      <div class="example">
        <mdi-markdown id="markdown"></mdi-markdown>
      </div>
    </section>
    <script src="mdiMarkdown.js"></script>
    <script>
      var mdiVanish = 'M16,13V11H21V13H16M14.83,7.76L17.66,4.93L19.07,6.34L16.24,9.17L14.83,7.76M11,16H13V21H11V16M11,3H13V8H11V3M4.93,17.66L7.76,14.83L9.17,16.24L6.34,19.07L4.93,17.66M4.93,6.34L6.34,4.93L9.17,7.76L7.76,9.17L4.93,6.34M8,13H3V11H8V13M19.07,17.66L17.66,19.07L14.83,16.24L16.24,14.83L19.07,17.66Z';
      var mdiAlert = 'M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z';
      var icons = {
        'account': 'M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z'
      };
      var markdown = document.getElementById('markdown');
      markdown.replace = [{
        find: new RegExp('(\\\\mdi|mdi|icon):([a-z0-9-]+):?([#a-z0-9-]+)?', 'g'),
        replace: (m, type, icon, color) => {
          if (type == '\\mdi') { return `mdi:${icon}`; }
          if (icon == 'not' || icon == 'before') { return m; }
          const c = color ? ` style="fill:${color}"` : '';
          if (type === 'mdi') {
            return `<a href="icon/${icon}"><svg class="icon" data-type="link" viewBox="0 0 24 24"><path data-icon="${icon}" fill="currentColor" d="${mdiVanish}"${c} /></svg></a>`;
          } else {
            return `<svg class="icon" data-type="icon" viewBox="0 0 24 24"><path data-icon="${icon}" fill="currentColor" d="${mdiVanish}"${c} /></svg>`;
          }
        }
      }];
      markdown.text = [
        '# Header 1',
        '',
        'Paragraph text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text',
        '',
        '## Header 2',
        '',
        'Paragraph text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text',
        '',
        '### Header 3',
        '',
        'Paragraph text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text',
        '',
        '#### Header 4',
        '',
        'Paragraph text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text',
        '',
        '',
        `<a href="" class="button">icon:account Button</a>`,
        '',
        '- List 1',
        '- List 2',
        '  - List 1',
        '  - List 2',
        '- List 3',
        '',
        '> Blockquote',
        '',
        '```javascript',
        'function foo() {',
        '    // Code',
        '}',
        '```',
        '```typescript',
        'function foo() {',
        '    // Really long item with overlap. test test test test test test test test test test test test test test test test test test',
        '}',
        '```',
        '',
        '| Header 1             | Header 2 |',
        '|----------------------|----------|',
        '| Row 1... larger size | Row 1    |',
        '| Row 2                | Row 2    |',
        '| Row 3                | Row 3    |',
        '| Row 4                | Row 4    |',
        '',
        'Done, but `code` blocks would be useful.'
      ].join('\n');
      markdown.modify(($content) => {
        var paths = $content.querySelectorAll('[data-icon]');
        for (var i = 0; i < paths.length; i++) {
          var path = paths[i];
          path.setAttribute('d', icons[path.dataset.icon] || mdiAlert)
        }
      });
    </script>

    <section>
      <h2>mdi-nav</h2>
      <h3>Basic <small>Main Navigation</small></h3>
      <div class="example">
        <mdi-nav
          logo="M2,2H8V4H16V2H22V8H20V16H22V22H16V20H8V22H2V16H4V8H2V2M16,8V6H8V8H6V16H8V18H16V16H18V8H16M4,4V6H6V4H4M18,4V6H20V4H18M4,18V20H6V18H4M18,18V20H20V18H18Z"
          name="Material Design Icons"></mdi-nav>
      </div>
    </section>
    <script src="mdiNav.js"></script>

    <section>
      <h2>mdi-picker <code>extends MdiButton</code></h2>
      <h3>Basic <small>Default</small></h3>
      <div class="example">
        <mdi-picker id="picker1">Example Picker</mdi-picker>
      </div>
    </section>
    <script src="mdiPicker.js"></script>
    <script>
      // Code is down below to share icon data
    </script>

    <section>
      <h2>mdi-search</h2>
      <h3>Basic <small>Search Docs</small></h3>
      <div class="example">
        <mdi-search id="search"></mdi-search>
      </div>
    </section>
    <script src="mdiSearch.js"></script>
    <script>
      var search = document.getElementById('search');
      search.items = [
        { type: 'Documentation', name: 'Android', url: '/getting-started/android' },
        { type: 'Documentation', name: 'Angular', url: '/getting-started/angular' },
        { type: 'Documentation', name: 'AngularJS', url: '/getting-started/angularjs' },
        { type: 'Documentation', name: 'Bootstrap', url: '/getting-started/bootstrap' },
        { type: 'Documentation', name: 'How to Play Football', url: '/getting-started/football' },
        { type: 'Documentation', name: 'Foo Angular Foo Angular', url: '/getting-started/bootstraps' }
      ];
      search.icons = [
        { name: 'account', aliases: [{ name: 'user' }] },
        { name: 'account-box', aliases: [{ name: 'user-box' }] },
        { name: 'account-circle', aliases: [{ name: 'user-circle' }] }
      ];
    </script>

    <section>
      <h2>mdi-toast</h2>
      <h3>Basic <small>Search Docs</small></h3>
      <div>
        <div class="example">
          <mdi-toasts></mdi-toasts>
        </div>
        <button id="toast1">Info</button>
        <button id="toast2">Warning</button>
        <button id="toast3">Error</button>
        <button id="toast4">Loading</button>
        <button id="toast5">Close</button>
        <p>Note: This just triggers the show to make styling easier.</p>
      </div>
    </section>
    <script src="mdiToast.js"></script>
    <script src="mdiToasts.js"></script>
    <script>
      function uuid() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      }
      document.getElementById('toast1').addEventListener('click', () => {
        document.body.dispatchEvent(new CustomEvent('mditoastadd', {
          detail: {
            type: 'info',
            message: 'Hello World! With really long content that wraps rows.',
            key: uuid()
          }
        }))
      });
      document.getElementById('toast2').addEventListener('click', () => {
        document.body.dispatchEvent(new CustomEvent('mditoastadd', {
          detail: {
            type: 'warning',
            message: 'Hello World! Warning',
            key: uuid()
          }
        }))
      });
      document.getElementById('toast3').addEventListener('click', () => {
        document.body.dispatchEvent(new CustomEvent('mditoastadd', {
          detail: {
            type: 'error',
            message: 'Hello World! Error',
            key: uuid()
          }
        }))
      });
      const key = uuid();
      document.getElementById('toast4').addEventListener('click', () => {
        document.body.dispatchEvent(new CustomEvent('mditoastadd', {
          detail: {
            type: 'info',
            message: 'Loading...',
            loading: true,
            key: key
          }
        }))
      });
      document.getElementById('toast5').addEventListener('click', () => {
        document.body.dispatchEvent(new CustomEvent('mditoastremove', {
          detail: {
            key: key
          }
        }))
      });
    </script>

    <section>
      <h2>mdi-scroll</h2>
      <h3>Basic <small>Scroll</small></h3>
      <p>
        Content <span id="scrollCount">0</span>
        <button id="small">10 Items</button><button id="large">500 Items</button>
        Overflow = <code id="overflow">visible</code>
      </p>
      <div class="example" id="overflowContainer">
        <mdi-scroll>
          <div id="mdiScrollList" style="display:flex;flex-direction:column;"></div>
        </mdi-scroll>
      </div>
    </section>
    <script>
      var mdiScroll = document.getElementsByTagName('mdi-scroll')[0];
      var mdiScrollList = document.getElementById('mdiScrollList');
      var mdiScrollItems = [];
      var currentRow = 0;
      var currentViewHeight = 0;
      function dispatchHeight() {
        mdiScroll.height = mdiScrollItems.length * 44;
      }
      function small() {
        mdiScrollItems.splice(0, mdiScrollItems.length);
        for(var i = 0; i < 10; i++) {
          mdiScrollItems.push(`Test Item ${i}`);
        }
        dispatchHeight();
      }
      function large() {
        mdiScrollItems.splice(0, mdiScrollItems.length);
        for(var i = 0; i < 500; i++) {
          mdiScrollItems.push(`Test Item ${i}`);
        }
        dispatchHeight();
      }
      document.getElementById('small').addEventListener('click', small);
      document.getElementById('large').addEventListener('click', large);
      var list = [];
      function syncVirtual(virtualRows) {
        for (var i = list.length; i < virtualRows; i++) {
          var ele = document.createElement('button');
          ele.innerText = 'Placeholder';
          ele.style.height = '44px';
          mdiScrollList.appendChild(ele);
          list.push(ele);
        }
        list.forEach((e, i) => {
          e.style.display = i < virtualRows - 1 ? '' : 'none'
        });
      }
      mdiScroll.addEventListener('calculate', (e) => {
        var { offsetY, height, viewHeight } = e.detail;
        var viewRows = Math.ceil(viewHeight / 44) + 1;
        var row = Math.floor(offsetY / 44);
        syncVirtual(viewRows);
        if (currentRow !== row || currentViewHeight !== viewHeight) {
          document.getElementById('scrollCount').innerText = `${row}, ${viewRows}`;
          list.forEach((ele, index) => {
            ele.innerText = mdiScrollItems[index + row];
          });
          currentRow = row;
          currentViewHeight = viewHeight;
        }
        mdiScrollList.style.transform = `translateY(${-1 * offsetY % 44}px)`;
      });
      function overflow(overflowText) {
        var container = document.getElementById('overflowContainer');
        var overflowSpan = document.getElementById('overflow');
        if (overflowText === 'auto') {
          container.style.overflow = 'auto';
          container.style.height = '300px';
          overflowSpan.innerText = 'auto';
        } else {
          container.style.overflow = 'visible';
          container.style.height = '';
          overflowSpan.innerText = 'visible';
        }
      }
      overflow('auto');
      // overflow('visible');
      small();
    </script>

    <mdi-database></mdi-database>
    <script src="mdiDatabase.js"></script>
    <script>
      // Worker
      // Build a worker from an anonymous function body
      var blobURL = URL.createObjectURL( new Blob([ '(',
      function(){
        self.onmessage = function(e) {
          var { icons, term } = e.data;
          self.postMessage(icons.filter((icon) => {
            return icon.name === term;
          }));
        };
      }.toString(),
      ')()' ], { type: 'application/javascript' } ) ),

      worker = new Worker( blobURL );

      worker.onmessage = function(e) {
        console.log("Received: ", e.data);
      }

      // Won't be needing this anymore
      //URL.revokeObjectURL( blobURL );
      // Get Data
      const fontId = 'D051337E-BC7E-11E5-A4E9-842B2B6CFE1B';
      const database = document.getElementsByTagName('mdi-database')[0];
      database.addEventListener('sync', async (e) => {
        const { db } = e.detail;
        const count = await db.getCount(fontId);
        console.log('Total Icons', count);
        const icons = await db.getIcons(fontId);
        console.log('Icon Objects:', icons.length);

        worker.postMessage({ icons, term: 'account' });
        window.getIcons = (count) => {
          if (count === -1) {
            return icons;
          }
          return icons.slice(0, count);
        };
        // Search
        const search = document.getElementById('search');
        search.icons = icons;
        // Init examples with icons
        document.getElementById('picker1').icons = getIcons(200);
        iconGrid.basic(10);
      });
      database.font = fontId;
    </script>
  </main>
  <!--<script src="main.js"></script>-->
</body>
</html>